html, body {
	margin: 0;
	padding: 0;
	color: #333;
}

body {
	background: #0D334F;
	font-family: verdana, sans-serif;
	font-size: 11px;
}

a {
	color: #AB6D07;
}

a:visited {
	color: #333;
}

ul {
	padding: 0 20px;
}

ul li {
	margin: 5px 0;
}

img {
	border: 0;
}

select {
	border: 1px #333 solid;
	border-radius: 3px;
	font-family: verdana;
}

.header {
	position: relative;
}

.header .main_menu {
	height: 25px;
	margin: 0 20px;
	background: #333;
	list-style-type: none;
	border-radius: 3px;
}

.header .main_menu li {
	float: left;
	margin: 0 50px 0 0;
}

.header .main_menu li a {
	display: block;
	height: 25px;
	line-height: 24px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

.header .main_menu li a:hover {
	color: #E1A821;
}

.main_menu .twitter {
	width: 23px;
	background: url(/images/twitter_icon_roll.png) 0 4px no-repeat;
}

.main_menu .twitter:hover {
	background-position: -23px 4px;
}

#newsflash {
	height: 16px;
	margin: 0 40px 20px;
	padding: 3px 0 2px 20px;
	background: #000;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	color: #fff;
}

#newsflash .title {
	float: left;
	margin: 0 20px 0 0;
}

#newsflash p {
	display: none;
	margin: 0;
}

#newsflash a {
	text-decoration: none;
	color: #E1A821;
}

#newsflash .date {
	padding: 0 0 0 20px;
	color: #fff;
}

.content {
	position: relative;
	padding: 0 20px 10px;
}

.header h2 {
	position: absolute;
	top: 40px;
	left: 375px;
	margin: 0;
	font-style: italic;
}

#frame {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 0 0 40px;
	background: #F2F2F3;
	box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
}

#logo {
	padding: 0 0 0 20px;
}

#ad {
	position: absolute;
	top: 3px;
	right: 10px;
}

#footer {
	margin: 20px 0 10px;
	text-align: center;
	font-size: 11px;
	font-family: verdana;
	color: #fff;
}

#footer a {
	color: #fff;
}

#footer .ninja {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	background: url(/images/ninja.png) 0 0 no-repeat;
}

#app {
	float: left;
}

#help {
	float: right;
	margin: 20px 0 0;
}

#help section {
	width: 330px;
	margin: 0 0 10px;
	padding: 10px;
	border-radius: 5px;
	border: 1px #1B1A1C solid;
}

#help section.share, #help section.save, #help section.rate {
	display: none;
}

#help section.rate a {
	outline: none;
}

#help section.rate span.current, #help section.rate span.cast {
	padding: 0 0 0 20px;
}

#help section.rate span.cast {
	display: none;
	font-weight: bold;
}


#help h2{
	margin: 0 0 10px 0;
}

#help label {
	display: inline-block;
	width: 120px;
}

#help div.share {
	float: left;
	width: 70px;
	margin: 0 10px 0 0;	
}

#share_url {
	width: 300px;
}

.clear {
	clear: both;
}

#app h2.label {
	height: 25px;
	margin: 0;
	padding: 0 0 0 50px;
}

#mviewer {
	float: left;
	width: 275px;
	height: 345px;
	background: #1B1A1C;
}

#mviewer div {
	width: 275px;
	height: 345px;
}

.items {
	float: left;
	margin: 0 5px 5px;
}

.items.left {
	margin-top: 37px;
}

.items.right {
	margin-top: 76px;
}

.items.bottom {
	margin: 5px 5px 0 112px;
}

.items span {
	position: relative;
	display: block;
	margin: 0 0 5px;
	padding: 1px;
	border: 1px #333 solid;
	border-radius: 3px;
	width: 36px;
	height: 36px;
	cursor: pointer;
}

.items.bottom span {
	float: left;
	margin: 0 5px 0 0;
}


.items span ins {
	position: absolute;
	top: 0;
	left: 0;
	width: 38px;
	height: 38px;
	font-size: 10px;
	text-decoration: none;
	background-color: #000;
	background-position: 1px 1px;
	background-repeat: no-repeat;
	color: #fff;
	opacity: 0;
}

#slot_prompt {
	position: absolute;
	top: 0;
	left: 36px;
	width: 350px;
	padding: 10px;
	border: 1px #fff solid;
	box-shadow: 8px 8px 8px #000;
	background: #1B1A1C;
	color: #F2F2F2;
}

#slot_prompt .close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 19px;
	height: 19px;
	background: url(/images/close.png) top left no-repeat;
	cursor: pointer;
}

#slot_prompt h3 {
	margin: 0 0 5px;
	padding: 0 0 5px;
	border-bottom: 1px #F2F2F2 solid;
}

#slot_prompt h4 {
	margin: 0 0 5px;
}

#slot_prompt input {
	width: 200px;
	border: 1px #333 solid;
}

#slot_prompt ul {
	margin: 10px 0 0;
	padding: 0;
	list-style-type: none;
}

#slot_prompt ul li {
	height: 20px;
	margin: 0;
	padding: 3px 0 0 3px;
	cursor: pointer;
	border: 1px #353336 solid;
	border-bottom: 0;
}

#slot_prompt ul li.last {
	border-bottom: 1px #353336 solid;
}

#slot_prompt ul li img {
	float: left;
	margin: 1px 5px 0 0;
}

#slot_prompt ul li:hover {
	background: #000;
}

#slot_prompt .current {
	margin: 0 0 20px;
}

#slot_prompt .current .delete {
	float: right;
	margin: 0 5px 0 0;
	width: 16px;
	height: 16px;
	background: url(/images/cross-button.png) top left no-repeat;
	cursor: pointer;
}


#slot_prompt .current .icon {
	float: left;
	margin: 0 5px 0 0;
}

#slot_prompt .current .wowhead img {
	margin: 0 0 0 5px;
}

.text {
	padding: 10px;
	border-radius: 3px;
}

.text a {
	color: #E7BE35;
}

.text a:visited {
	color: #B97408;
}

.toplist li {
	margin: 0 0 8px;
}

ul.toplist {
	list-style-type: none;
}

ul.toplist li .position {
	padding: 0 5px 0 0;
}

table.toplist {
	width: 100%;
}

table.toplist th {
	text-align: left;
}

table.toplist .rank {
	width: 50px;
}

table.toplist .label {
	width: 300px;
}
table.toplist .rating {
	width: 100px;
}

table.toplist td {
	padding: 2px 0;
}

#slider {
	overflow: hidden;
}

#slider .frame {
	position: relative;
	left: 0;
}

.paginationControl {
	margin: 10px 0 0;
	padding: 10px 0;
	border-top: 1px #333 solid;
}

.paginationControl a {
	display: inline-block;
	margin: 0 3px 0 0;
	padding: 5px;
	border: 1px #333 solid;
	background: #BC7A19;
	color: #000;
	text-decoration: none;
}

.paginationControl a:hover {
	background: #333;
	color: #BC7A19;
}

.paginationControl span {
	display: inline-block;
	padding: 5px;
	border: 1px #666 solid;
	color: #666;
}

.paginationControl span.total {
	float: right;
}

.q0,.q0 a {color:#9d9d9d!important;}
.q1,.q1 a {color:#fff!important;}
.q2,.q2 a {color:#1eff00!important;}
.q3,.q3 a {color:#0070dd!important;}
.q4,.q4 a {color:#a335ee!important;}
.q5,.q5 a {color:#ff8000!important;}
.q6,.q6 a {color:#e5cc80!important;}
.q7,.q7 a {color:#e5cc80!important;}
.q8,.q8 a {color:#ffff98!important;}
.q9,.q9 a {color:#71d5ff!important;}
.q10,.q10 a {color:#ff4040!important;}